@import "style/header.css";
@import "style/sidebar.css";
@import "style/about.css";
@import "style/projects.css";

*{
    padding: 0;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
    text-align: left;
    color: #444452;
    line-height: 1.5;
}


@media(max-width:900px){
    .page-wrapper, .main, .sidebar{
        width: 90%;
    }    
}

/* Tag Styles */

li{
    list-style: none;
}

h1{
    font-size: 28px;
}

p{
    font-size: 16px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: #570861;
}

/* Custom Class Styles */

.page-wrapper{
    background-color: #fff;
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 120px auto;
    text-align: center;
}

@media screen and (max-width:550px) {
    .page-wrapper {
        padding: 0px;
        margin: 0px;
    }
}

.main{
    width: 50%;
    max-width: 800px;
}

.wrapper{
    /* border: 2px solid red; -- Border Indicator */
    margin-bottom: 8px;
    position: relative;
}

